<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estrella.Nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @estrella.Descripcion %>
</p>

<%= link_to 'Edit', edit_estrella_path(@estrella) %> |
<%= link_to 'Back', estrellas_path %>
